# Metti in produzione
# SetEnv CI_ENV production

Header set Access-Control-Allow-Origin "*"

RewriteEngine on

RewriteBase /orderscounter/

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ index.php?/$1 [L]